<!-- Add icon library -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- style="width:100%" -->

<div class="Contact" background-repeat=no-repeat >
    <!-- style="background-image: url('../assets/img/sample4.jpg')" -->
    
  <!-- <img src="../assets/img/1.jpg" width="200px" height="230px" alt="John" > -->

  
  <!-- <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a>  -->
  <!-- <p><button>Contact</button></p> -->
  
</div>
