/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100px;
    background-color: white;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: mediumslateblue;
    background-color:white;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .contactDiv{
 
    background-position:center;
    background-repeat:no-repeat;
  } */
